@{
    ViewData["Title"] = "Profile";
}



<div class="container card-container w-100">
    <!-- Main Card -->
    <div class="card h-75 border border-0">
        <div class="card-body w-100">
            <!-- Inner Card 1 -->
            <div class="card mb-3 w-100">
                <div class="card-body">
                    <h5>
                        PROFILE
                    </h5>

                    <div class="container profile-details mt-5">
                        <div class="row">
                            <div class="col-6 mb-4">
                                <div class="text-box">First Name</div>
                                <p>Valentine</p>
                            </div>
                            <div class="col-6 mb-4">
                                <div class="text-box">Last Name</div>
                                <p >Nudi</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-4">
                                <div class="text-box">Email address</div>
                                <p>valenudi@gmail.com</p>
                            </div>
                            <div class="col-6 mb-4">
                                <div class="text-box">Phone Number</div>
                                <p>+254712345678</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inner Card 2 -->
            <div class="card mb-3 w-100">
                <div class="card-body">
                    <h5>
                        UPLOADS
                    </h5>

                    <!-- File Inputs -->
                    <div class="file-input-container">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="fileInput1" class="form-label">Upload resume/cv</label>
                                <input class="form-control" type="file" id="fileInput1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="fileInput2" class="form-label">Upload cover letter</label>
                                <input class="form-control" type="file" id="fileInput2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>