<ul class="social-icons p-4">
    <li>
        <a href="https://x.com/citygrid_trans?prefetchTimestamp=1723183115382" target="_blank">
            <i class="fa-brands fa-x-twitter fa-2xl"></i>
        </a>

    </li>

    <li>
        <a href="https://www.linkedin.com/company/citygrid-trans/about/" target="_blank">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>

    </li>


    @* <li>
        

        <a href="https://www.youtube.com/channel/UCi_GER_AVJYxBTOa5-SmaJQ" target="_blank">
            <i class="fa-brands fa-youtube fa-2xl"></i>
        </a>

    </li> *@

    <li>
        <a href="https://www.instagram.com/citygrid_trans/" target="_blank">
            <i class="fa-brands fa-instagram fa-2xl"></i>
        </a>

    </li>

    <li>

        <a href="https://wa.me/254740220889" target="_blank">
            <i class="fa-brands fa-whatsapp fa-2xl"></i>
        </a>


    </li>

</ul>