@{
    ViewData["Title"] = "Our Services";
    
}


<div style="background-color: #FFFFFF;">

    <section>
        <div class="text-center"
             style="background-color: #800000;
                margin-bottom: 20px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;">

            <h4 style="color: white;
                   font-family: Tahoma;
                   max-width: 100%;
                   font-size: 50px;">
                Our Services

            </h4>
        </div>
    </section>
<!-- Publication Content -->
<div class="container mt-5">
    <div class="row align-items-center">
        <!-- Right column: Text -->
        <div class="col-md-6 ms-auto text-start">
            <h2 style="color: #800000; font-family: Tahoma;">Public Transport </h2>
            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                <ul style="list-style-type: disc; padding-left: 20px; font-family: Tahoma; font-size: 20px;">
                    <li>Transportation Master Plans</li>
                    <li>Transit Oriented Development (TOD) Assessment</li>
                    <li>Public Transit Route Planning</li>
                    <li>Fare Strategy Review & Implementation</li>
                    <li>Transportation Capacity Assessment</li>
                    <li>Intersection Capacity Analysis</li>
                    <li>Public Transportation Demand Management TDM</li>
                    <li>Road Network Planning</li>
                    <li>Block Transportation Planning</li>
                    <li>Public Transport Parking Supply Requirements</li>
                </ul>

            </p>
            <!-- View PDF Button -->
            <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <a asp-controller="vacancies" asp-action="indexpt"
                   class="btn mt-2"
                   style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                    View More
                </a>
            </div>

        </div>
        <!-- Left column: Title + Subtitle + Image -->
        <div class="col-md-4 text-center">
            <img src="/images/pubtrans5.jpg" alt="Image"
                 style="width: 500px; height: 400px; object-fit: cover;" />
        </div>
        </div>
    </div>


<!-- Traffic Planning and survey Content -->

    <div class="container mt-5">
        <div class="row align-items-center">

            <!-- Left column: Title + Subtitle + Image -->
            <div class="col-md-5 text-center">
                <img src="/images/traffic1.jpg" alt="Image"
                     style="width: 700px; height: 500px; object-fit: cover;" />
            </div>
            <!-- Right column: Text -->
            <div class="col-md-5 ms-auto text-start">
                <h2 style="color: #800000; font-family: Tahoma;">Traffic Planning and survey </h2>
                <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                    <ul style="list-style-type: disc; padding-left: 20px; font-family: Tahoma; font-size: 20px;">
                        <li>Traffic & Transit Impact Assessments</li>
                        <li>Transit Master Plans</li>
                        <li>Intelligent Transport Systems</li>
                        <li>Traffic Trip Generation and Distribution Pattern</li>
                        <li>Ridership Growth & Planning</li>
                        <li>Traffic Pollution Assessment</li>
                        <li>Travel Demand Modelling & Management</li>
                        <li>Park-n-Ride Assessments</li>
                        <li>Access Management</li>
                        <li>Site Access Operations and Traffic Signal Warrants</li>
                        <li>Secondary Plan Study</li>
                        <li>Environmental Assessment Study EA’s</li>
                        <li>Transportation Forecast Modelling</li>
                        <li>Site Access of Internal Circulation Study</li>
                        <li>Existing External Roads & Transit Systems Study</li>
                    </ul>

                </p>

                <!-- View PDF Button -->
                <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <a asp-controller="vacancies" asp-action="indextps"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>
            </div>
          

        </div>

    </div>

<!-- Active Mobility Content -->

    <div class="container mt-5">
        <div class="row align-items-center">
            <!-- Right column: Text -->
            <div class="col-md-6 ms-auto text-start">
                <h2 style="color: #800000; font-family: Tahoma;">Active Mobility </h2>
                <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                    <ul style="list-style-type: disc; padding-left: 20px; font-family: Tahoma; font-size: 20px;">
                        <li>Bicycle Parking Layouts</li>
                        <li>Bicycle Routes Master Planning</li>
                        <li>Pedestrian Safety Analysis</li>
                        <li>Cycling Routes Planning and Design</li>
                        <li>Pedestrian-oriented Zoning</li>
                        <li>Pedestrian Walkways Planning and Design</li>
                        <li>Travel Demand Modelling & Management</li>
                        <li>Transit Integration and Pedestrian Facilities Cost Estimation</li>
                        <li>Active Transport Advocacy</li>
                    </ul>

                </p>

                <!-- View PDF Button -->
                <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <a asp-controller="vacancies" asp-action="indexam"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>

            </div>
            <!-- Left column: Title + Subtitle + Image -->
            <div class="col-md-4 text-center">
                <img src="/images/activem3.jpg" alt="Image"
                     style="width: 600px; height: 400px; object-fit: cover;" />
            </div>

        </div>

    </div>

<!-- E Mobility  Content -->
    <div class="container mt-5">
        <div class="row align-items-center">
            <!-- Left column: Title + Subtitle + Image -->
            <div class="col-md-4 text-center">
                <img src="/images/emob3.jpg" alt="Image"
                     style="width: 600px; height: 400px; object-fit: cover;" />
            </div>
            <!-- Right column: Text -->
            <div class="col-md-6 ms-auto text-start">
                <h2 style="color: #800000; font-family: Tahoma;">E-Mobility</h2>
                <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                    <ul style="list-style-type: disc; padding-left: 20px; font-family: Tahoma; font-size: 20px;">
                        <li>E-transit Assessment</li>
                        <li>E-charging Stations Assessment</li>
                        <li>Environmental Assessment Study EA’s</li>
                        <li>End-to-end EV transition advisory for cities and fleets</li>
                        <li>Feasibility studies for EV infrastructure (charging, fleets, e-buses)</li>
                        <li>Policy support for EV adoption and technical capacity building</li>
                        <li>Stakeholder engagement across public and private sectors</li>
                    </ul>

                </p>

                <!-- View PDF Button -->
                <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <a asp-controller="vacancies" asp-action="indexem"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>

            </div>
           

        </div>

    </div>

<!-- Streetscape Design Content -->

    <div class="container mt-5">
        <div class="row align-items-center">
            <!-- Right column: Text -->
            <div class="col-md-6 ms-auto text-start">
                <h2 style="color: #800000; font-family: Tahoma;">Streetscape Design </h2>
                <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                    <ul style="list-style-type: disc; padding-left: 20px; font-family: Tahoma; font-size: 20px;">
                        <li>Road Network Masterplanning</li>
                        <li>Streetscape Planning and Design</li>
                        <li>Site Access Design</li>
                        <li>Parking Planning and Design</li>
                        <li>Internal Vehicular Circulation and Systems Design</li>
                        <li>Parking Layout and Simulations</li>
                        <li>Roadways, Roundabouts, Intersections & Railway Design</li>
                        <li>Ramp and System Design</li>
                        <li>Truck Access and Loading Area Design.</li>
                    </ul>

                </p>

                <!-- View PDF Button -->
                <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <a asp-controller="vacancies" asp-action="indexssd"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>

            </div>
            <!-- Left column: Title + Subtitle + Image -->
            <div class="col-md-4 text-center">
                <img src="/images/ssd1.jpg" alt="Image"
                     style="width: 600px; height: 400px; object-fit: cover;" />
            </div>

        </div>

    </div>

<!-- Transport Policy Content -->

    <div class="container mt-5">
        <div class="row align-items-center">
            <!-- Left column: Title + Subtitle + Image -->
            <div class="col-md-4 text-center">
                <img src="/images/policy1.jpg" alt="Image"
                     style="width: 600px; height: 400px; object-fit: cover;" />
            </div>
            <!-- Right column: Text -->
            <div class="col-md-6 ms-auto text-start">
                <h2 style="color: #800000; font-family: Tahoma;">Transport Policy</h2>
                <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                    <ul style="list-style-type: disc; padding-left: 20px; font-family: Tahoma; font-size: 20px;">
                        <li>Fare Strategy Review & Implementation</li>
                        <li>Mobility Pricing (Congestion charging, low emission zones, tolling)</li>
                        <li>Mobility Justice</li>
                        <li>Gender Inclusive Policies</li>
                        <li>Climate Resilient Policies</li>
                        <li>Transportation Road Design Standards</li>
                        <li>Policies for Inclusion of the Vulnerable Groups</li>
                        <li>Traffic Pollution Reduction Policies</li>
                    </ul>

                </p>


                <!-- View PDF Button -->
                <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <a asp-controller="vacancies" asp-action="indextp"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>

            </div>
           

        </div>

    </div>


</div>