@{
    ViewData["Title"] = "E Mobility";
}

<div style="background-color: #FFFFFF;">
    <section>
        <section>
            <div class="text-center"
                 style="background-color: #800000;
                margin-bottom: 20px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;">

                <h4 style="color: white;
                   font-family: Tahoma;
                   max-width: 100%;
                   font-size: 50px;">
                    E-Mobility

                </h4>
            </div>
        </section>
        <!-- Main -->
        <div class="container text-center" style=" background-color: #FFFFFF;" p-5">
            <div class="container p-3 w-100">
               

                <!-- Tango Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                        <img src="/images/Emob1.jpg" alt="Image"
                             style="width: 600px; height: 400px; object-fit: cover;" />
                    </div>

                        <!-- Right column: Text -->
                    <div class="col-md-6 ms-auto text-start">
                        <h2 style="color: #800000; font-family: Tahoma;">Overview </h2>
                        <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                            The transport industry is currently in a unique position to reinvent itself and adopt innovative solutions to become more eco-friendly. Our experienced personnel have advanced technical knowledge in the design, planning, electrical engineering,
                            finance, social, and environmental requirements of EVs and supporting infrastructure.<br />

                            Our electric mobility clients include local, and federal governments, developers, policymakers, multinational organizations, energy regulators,
                            industry stakeholders, advocacy groups, and fleet managers.
                        </p>


                    </div>
                    </div>
                </div>

                <!-- Chaos Main Content -->
            <div class="container mt-5">
                <div class="row align-items-center">
                    <!-- Right column: Text -->
                    <div class="col-md-6 ms-auto text-start">
                        <h2 style="color: #800000; font-family: Tahoma;">Our Area Of Focus </h2>
                        <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                            <ul style="list-style-type: disc; padding-left: 20px; font-family: Tahoma; font-size: 20px;">
                                <li>E-transit Assessment</li>
                                <li>E-charging Stations Assessment</li>
                                <li>Environmental Assessment Study EA’s</li>
                                <li>End-to-end EV transition advisory for cities and fleets</li>
                                <li>Feasibility studies for EV infrastructure (charging, fleets, e-buses)</li>
                                <li>Policy support for EV adoption and technical capacity building</li>
                                <li>Stakeholder engagement across public and private sectors</li>
                            </ul>

                        </p>

                    </div>
                    <!-- Left column: Title + Subtitle + Image -->
                    <div class="col-md-4 text-center">
                        <img src="/images/activem1.jpg" alt="Image"
                             style="width: 600px; height: 400px; object-fit: cover;" />
                    </div>

                </div>

            </div>

                <!-- Konza Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/emob2.jpg" alt="Image"
                                 style="width: 600px; height: 400px; object-fit: cover;" />
                        </div>

                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                Electric cars and public transport modes such as buses are pivotal to radically lowering emissions.
                                But they can only succeed if supported by the enabling infrastructure and clean grid they need. <br />

                                CTC is helping cities and transport operators to plan for 
                                and adapt to this new EV era by planning and implementing low-emission transport infrastructure.<br />
                                We support existing system developments and trials of new systems, bringing in our deep domain knowledge of
                                how road and transport networks operate with significant digital and data management capability.
                            </p>

                        </div>

                    </div>

                </div>
            
                </div>


            </div>
            
        </div>
<section>
    <div class="text-center"
         style=" background-image:url('/images/traffic4.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;">
        <div style="background-color: #e0e0e0; opacity: 0.7; padding: 20px; width: 95%; height: 600px;">
            <br />
            <i class="fa-solid fa-quote-left fa-5x"></i>

            <h4 style="color: black; font-family: Tahoma; max-width: 100%; font-size: 20px;">
                <br />
                <br />The reality about transportation is that it's future-oriented. If we're planning for what we have, we're behind the curve

                <br />
                <br />
                Antony Foxx
            </h4>
        </div>
    </div>
</section>



