@{
    ViewData["Title"] = "Publication";

}


<div style="background-color: #FFFFFF;">

    <section>
        <div class="text-center"
             style="background-color: #800000;
                margin-bottom: 20px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;">

            <h4 style="color: white;
                   font-family: Tahoma;
                   max-width: 100%;
                   font-size: 50px;">
                Publication

            </h4>
        </div>
    </section>


    <!-- blogs Content -->
    <div class="container p-3 w-100">

        <h1 style="color: #800000; font-family: Tahoma; font-size: 50px; text-align: center;">
            Blogs
        </h1>

        <!-- Tango Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-4 text-center">
                    <h2 style="color: #800000; font-family: Tahoma;">The Transport Tango</h2>
                    <p style="color: black; font-family: 'Tahoma';">A case study of Nairobi, Kenya</p>
                    <img src="/images/blog1.jpg" alt="Image" class="img-fluid">
                </div>

                <!-- Right column: Text -->
                <div class="col-md-6 ms-auto text-start">
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        My personal experience with informality….<br />

                        In Nairobi, the transport sector isn’t just a way to get from point A to B—it’s a full-blown adventure,
                        complete with unwritten rules, surprise plot twists, and occasional chaos.
                        As an urban designer and developer in Kenya, I see how transport defines the rhythm of the city,
                        weaving formality and informality into a daily spectacle.
                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/blog1.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>

                </div>
            </div>
        </div>

        <!-- Chaos Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Right column: Text -->
                <div class="col-md-6 ms-auto text-start">
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        Somewhere between formal and informal….<br />

                        In urban mobility, hawking and street vending are often criticized as a hindrance to the seamless flow of movement and connectivity within cities and towns.
                        Recent eviction of street vendors in Nairobi CBD presents us with a unique opportunity to explore the roles of both mobility experts and urban economists in Shaping African cities.
                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/blog2.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>
                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-4 text-center">
                    <h2 style="color: #800000; font-family: Tahoma;">Beautiful Chaos </h2>
                    <p style="color: black; font-family: 'Tahoma';">A case study of Nairobi, Kenya</p>
                    <img src="/images/blog2.jpg" alt="Image" class="img-fluid">
                </div>

            </div>

        </div>

        <!-- Konza Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-4 text-center">
                    <h2 style="color: #800000; font-family: Tahoma;"> Konza Technopolis </h2>
                    <p style="color: black; font-family: 'Tahoma';">A case study of Nairobi, Kenya</p>
                    <img src="/images/blog3.jpg" alt="Image" class="img-fluid">
                </div>

                <!-- Right column: Text -->
                <div class="col-md-6 ms-auto text-start">
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;font-weight: normal;">
                        What do we mean by smartness of an urban node and how smart is the Konza Technopolis?


                        Unlike many African cities, Konza Technopolis gives us fundamental lessons on the future of cities and towns.



                        So, what makes Konza Smart? Let’s focus on the technopolis’ transport network. I mean, who can loathe a functional, reliable, safe and fast transport network?

                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/blog3.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>
            </div>

        </div>
        <!-- Politics Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Right column: Text -->
                <div class="col-md-6 ms-auto text-start">
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        Whether you like politics or not, you cannot help but feel it’s impact on our motherland. In Africa, politics plays a vital role in what we dress, where we school, what we eat, where we live, you name it. Our transport sector, often under the public sector, is no exemption.
                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/transport-tango.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>

                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-4 text-center">
                    <h2 style="color: #800000; font-family: Tahoma;"> Politics - a Catalyst or Menace </h2>
                    <p style="color: black; font-family: 'Tahoma';">A case study of Nairobi, Kenya</p>
                    <img src="/images/blog4.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>

        <!--  Traffic Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-4 text-center">
                    <h2 style="color: #800000; font-family: Tahoma;">Traffic Congestion </h2>
                    <p style="color: black; font-family: 'Tahoma';">A case study of Nairobi, Kenya</p>
                    <img src="/images/blog5.jpg" alt="Image" class="img-fluid">
                </div>

                <!-- Right column: Text -->
                <div class="col-md-6 ms-auto text-start">
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        In memory of our once upon a time less populous and less polluted urban areas……..
                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/blog4.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>
            </div>

        </div>


    </div>
    <!-- Articles Content -->
    <div class="container p-3 w-100">

        <h1 style="color: #800000; font-family: Tahoma; font-size: 50px; text-align: center;">
            Articles
        </h1>
        <!-- Tango Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-4 text-center">
                    <img src="/images/articles1.jpg" alt="Image"
                         style="width: 600px; height: 800px; object-fit: cover;" />
                </div>

                <!-- Right column: Text -->
                <div class="col-md-6 ms-auto text-start">
                    <h2 style="color: #800000; font-family: Tahoma;">Mobility Turn</h2>
                    <p style="color: #800000; font-family: Tahoma; font-size: 23px;">By Leshan Kelvin Sadira & Sam Rholex              25th Oct 2024</p>
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        The upsurge in the interest in different forms of mobility in the contemporary world draws close focus on the role of the built environment in championing this shift.<br />
                        <br />
                        Mobility turn, often described as a shift in thinking within the social sciences that views the world as fluid and always in motion, draws together all forms of movement and circulation and theorizes them holistically and relationally, rather than as separate, discrete forms of action associated with particular activities.<br />
                        <br />
                        This article seeks to understand how we can integrate transport studies with social sciences in a more holistic approach to ensure social inclusion, safety, convenience and sustainability in our transport systems.
                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/articles1.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>
            </div>
        </div>

        <!-- Chaos Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Right column: Text -->
                <div class="col-md-6 ms-auto text-start">
                    <h2 style="color: #800000; font-family: Tahoma;">Dicing with Death</h2>
                    <p style="color: #800000; font-family: Tahoma; font-size: 23px;">By Sam Rholex.     18th Oct 2024</p>
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        Transportation is often the backbone of any State. Urban and rural transportation both play a crucial role in linking towns and places across regions. However, most professionals, especially in the built environment, have a tendency to prioritize urban areas at the expense of rural areas.<br />
                        <br />
                        This article seeks to find a deep understanding of how these rivers help in transporting citizens, the challenges that arise and the opportunities to explore these transit routes within Central Africa.<br />

                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/articles2.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>
                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-4 text-center">
                    <img src="/images/articles2.jpg" alt="Image"
                         style="width: 600px; height: 800px; object-fit: cover;" />
                </div>

            </div>

        </div>

        <!-- Konza Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-6 text-center">
                    <img src="/images/articles3.jpg" alt="Image"
                         style="width: 800px; height: 500px; object-fit: cover;" />
                </div>

                <!-- Right column: Text -->
                <div class="col-md-4 ms-auto text-start">
                    <h2 style="color: #800000; font-family: Tahoma;">Concrete Jungles</h2>
                    <p style="color: #800000; font-family: Tahoma; font-size: 23px;">A case study of Zambia</p>
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        In progress……………..
                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/transport-tango.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>
            </div>

        </div>
        <!-- Politics Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Right column: Text -->
                <div class="col-md-5 ms-auto text-start">
                    <h2 style="color: #800000; font-family: Tahoma;">Give me Back my Public Transport</h2>
                    <p style="color: #800000; font-family: Tahoma; font-size: 23px;"> A case study of Lagos, Nigeria</p>
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        In progress…………………….

                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/transport-tango.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>

                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-5 text-center">
                    <img src="/images/articles4.jpg" alt="Image"
                         style="width: 800px; height: 500px; object-fit: cover;" />
                </div>
            </div>

        </div>

    </div>

    <!-- Thesis Content -->
    <div class="container p-3 w-100">
        <!-- Blogs Section -->
        <div class="container text-center p-5">
            <div class="container">
                <h2 style="color: #800000; font-family: Tahoma; font-size: 50px;">Thesis</h2>
                <h2 style="color: #800000; font-family: Tahoma; font-size: 30px;">Transportation | Urban Design | Urban Planning | Architecture</h2>
            </div>
        </div>

        <!-- Tango Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-4 text-center">

                    <img src="/images/thesis1.jpg" alt="Image" class="img-fluid">
                </div>

                <!-- Right column: Text -->
                <div class="col-md-6 ms-auto text-start">
                    <h2 style="color: #800000; font-family: Tahoma;">Urban Design</h2>
                    <p style="color: #800000; font-family: Tahoma; font-size: 23px;">By Vincent Mogaka Muturi.   22nd/05/2025</p>
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        🚶 Walking constitutes the primary mode of transport for the majority of the African population, accounting for approximately 78% of all trips relative to other modes.<br />
                        <br />
                        Despite this, urban infrastructure development in Nairobi continues to heavily prioritize 🚗 motorized transport, with minimal consideration for alternative modes such as 🚲 cycling.<br />
                        <br />
                        The increasing demand for knowledge and investment in urban cycling highlights the limitations of motorized transport systems—manifested in persistent traffic congestion, overcrowded parking facilities, elevated air pollution levels, and a high incidence of road traffic accidents. These challenges, however, also present a critical opportunity to reimagine and invest in active mobility solutions.<br />
                        <br />
                        This research seeks to promote the integration of Non-Motorized Transport (NMT)—specifically walking and cycling—as a strategic approach to mitigating traffic congestion in South B Estate. Through detailed analysis of empirical data, the research puts forward practical recommendations to position active mobility as a sustainable and effective response to Nairobi’s urban transport challenges.
                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/thesis1.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>

                </div>

            </div>
        </div>



        <!-- Tango Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-4 text-center">

                    <img src="/images/thesis2.jpg" alt="Image" class="img-fluid">
                </div>

                <!-- Right column: Text -->
                <div class="col-md-6 ms-auto text-start">
                    <h2 style="color: #800000; font-family: Tahoma;">Transport Planning</h2>
                    <p style="color: #800000; font-family: Tahoma; font-size: 23px;">By Sam Rholex Odhiambo.  10th/10/2024</p>
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        Over the years humans have invented different modes and means of moving from one place to another. The pattern of spatial growth, and consequently the direction and pace of transportation investment, can be shaped through the use of transportation planning.<br />
                        <br />
                        The increase in motorized transport at the expense of
                        the urban environment is a topic that is widely discussed in different forums across the globe.<br />
                        <br />
                        This study aims to understand and appreciate the importance of proper transport planning in mitigating the negative environmental externalities caused by road transport.
                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/thesis2.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>

            </div>
        </div>

        <!-- Tango Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-4 text-center">

                    <img src="/images/thesis3.jpg" alt="Image" class="img-fluid">
                </div>

                <!-- Right column: Text -->
                <div class="col-md-6 ms-auto text-start">
                    <h2 style="color: #800000; font-family: Tahoma;">Urban Design</h2>
                    <p style="color: #800000; font-family: Tahoma; font-size: 23px;">By Alex Munyu Njuguna.   8th/09/2024</p>
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        The conversion of agricultural land to residential use on the urban fringes fueled by an increase in urban population and economic growth has been a major cause of concern not only in Kenya, but around the world.<br />
                        <br />
                        Rapid urban population growth goes with a lack of equivalent growth in supply of urban land because land is inelastic and does not increase with increasing population.<br />
                        <br />
                        This study seeks to assess the effects of rapid land use change on peri-urban infrastructure specifically hard infrastructure (transport, energy, waste, water and sanitation infrastructure). The research project showed the inadequacy and ineffectiveness of the management framework used to control changes in agricultural land uses.
                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/thesis3.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>
                </div>

            </div>
        </div>
    </div>

    <!-- concepts Content -->
    <div class="container p-3 w-100">

        <h1 style="color: #800000; font-family: Tahoma; font-size: 50px; text-align: center;">
            Concepts
        </h1>
        <!-- Tango Main Content -->
        <div class="container mt-5">
            <div class="row align-items-center">
                <!-- Left column: Title + Subtitle + Image -->
                <div class="col-md-4 text-center">
                    <img src="/images/consepts.jpg" alt="Image"
                         style="width: 600px; height: 600px; object-fit: cover;" />
                </div>

                <!-- Right column: Text -->
                <div class="col-md-6 ms-auto text-start">
                    <h2 style="color: #800000; font-family: Tahoma; font-size: 50px;">Pedal To Class Initiative </h2>
                    <p style="color: black; font-family: 'Tahoma'; font-size: 23px;">
                        Pedal to Class Initiative (PCI)
                    </p>
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">

                        seeks to transform Kenya into a cycling society by promoting and incentivizing
                        student cycling at public and private universities.
                    </p>
                    <br />
                    <p style="color: black; font-family: 'Tahoma'; font-size: 23px;">
                        Overall Goal:
                    </p>
                    <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                        Encourage sustainable mobility, unlock economic potential and healthier lifestyles by making cycling the primary
                        mode of commuting for university students
                    </p>
                    <!-- View PDF Button -->
                    <a href="/pdfs/concept1.pdf" target="_blank"
                       class="btn mt-2"
                       style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                        View More
                    </a>

                </div>
            </div>
        </div>
    </div>
         



</div>
