@{
    ViewData["Title"] = "About Us";
}

<div style="background-color: #FFFFFF;">
    <section>
        <section>
            <div class="text-center"
                 style="background-color: #800000;
                margin-bottom: 20px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;">

                <h4 style="color: white;
                   font-family: Tahoma;
                   max-width: 100%;
                   font-size: 50px;">
                    About Us

                </h4>
            </div>
        </section>
        <!-- Main -->
        <div class="container text-center" style=" background-color: #FFFFFF;" p-5">
            <div class="container p-3 w-100">
                

                <div class="container">

                    <div class="container" style="display: flex; width: 100%; box-sizing: border-box; font-size: 20px;">
                        <!-- First column (currently empty) -->
                        <@* div class="column-left" style="flex: 1; padding: 20px; box-sizing: border-box;">
                    <div class="container text-center" style=" background-image:url('/images/samweb16.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 100%; height: 300px;" p-5">
                    </div>
                </div> *@

                <div class="column-right" style="flex: 1; padding: 20px; box-sizing: border-box;">

                    <div class="column-left" style="flex: 1; padding: 20px; box-sizing: border-box;">
                        <div class="container text-center" style=" background-image:url('/images/abus1.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 50%; height: 100px;" p-5">
                        </div>
                    </div>

                    <p>
                        <h2 style="color: black; font-family: Tahoma;">Our Vision<br /></h2>
                    </p>
                    <p  style="color: black; font-family: Tahoma; max-width: 400px; max-height: 50px;font-size: 20px;">
                            
                            To be a fore-front voice in fostering and championing for sustainable transportation systems across Africa.
                    </p>

                    

                </div>
                <!-- Second column -->
                <div class="column-right" style="flex: 1; padding: 20px; box-sizing: border-box;">

                    <div class="column-left" style="flex: 1; padding: 20px; box-sizing: border-box;">
                        <div class="container text-center" style=" background-image:url('/images/abus2.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 50%; height: 100px;" p-5">
                        </div>
                    </div>

                    <p>
                        <h2 style="color: black; font-family: Tahoma;">Our Mission<br /></h2>
                    </p>
                    <p>
                        <p style="color: black; font-family: Tahoma; max-width: 400px; max-height: 50px;">
                            
                            To provide meaning insights, positive critics and possible sound solutions to the fast transforming African transportation routes.
                    </p>

                    


                </div>

                <!-- Third column -->
                <div class="column-right" style="flex: 1; padding: 20px; box-sizing: border-box;">

                    <div class="column-left" style="flex: 1; padding: 20px; box-sizing: border-box;">
                        <div class="container text-center" style=" background-image:url('/images/abus3.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 50%; height: 100px;" p-5">
                        </div>
                    </div>
                    <p>
                        <h2 style="color: black; font-family: Tahoma;">Our Core Values<br /></h2>
                    </p>
                    
                       
                         
                            <ul style="color: black; font-family: Tahoma; max-width: 400px; max-height: 50px;">
                               <li>1. Discipline</li>
                               <li>2. Integrity</li>
                               <li>3. Innovation</li>
                               <li>4. Partnership</li>
                               
                            </ul>
                      
                    


                </div>

                    </div>

                </div>
                
                

                


            </div>
            </div>
       
</section>
        </div>
        <br />
        <br />
        <br />
<section>
    <div class="text-center"
         style=" background-image:url('/images/abus4.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;">
        <div style="background-color: #e0e0e0; opacity: 0.7; padding: 20px; width: 95%; height: 400px;">
            <br />


            <h4 style="color: black; font-family: Tahoma; max-width: 100%; font-size: 23px;">
                <br />
                <br />African Transportation - “of the people, by the people, and for the people.”

                <br />
                <br />
                Lets make our transport system work!.
            </h4>
        </div>
    </div>
</section>



