@{
    ViewData["Title"] = "Active Mobility";
}

<div style="background-color: #FFFFFF;">
    <section>
        <section>
            <div class="text-center"
                 style="background-color: #800000;
                margin-bottom: 20px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;">

                <h4 style="color: white;
                   font-family: Tahoma;
                   max-width: 100%;
                   font-size: 50px;">
                    Active Mobility

                </h4>
            </div>
        </section>
        <!-- Main -->
        <div class="container text-center" style=" background-color: #FFFFFF;" p-5">
            <div class="container p-3 w-100">
                

                <!-- Tango Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/activem.jpg" alt="Image"
                                 style="width: 600px; height: 400px; object-fit: cover;" />
                        </div>


                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <h2 style="color: #800000; font-family: Tahoma;">Overview </h2>
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                At CTC, we work with city & local leaders, NGOs, CBOs and investors to establish a 
                                robust understanding of active transport, environmentally friendly cities, and carbon-free neighborhoods.<br />
                                We bring together our transport experts with input from urban designers, urban planners, carbon analysts and economists to enable new, pedestrian-friendly streets and car-free zones
                            </p>


                        </div>
                    </div>
                </div>

                <!-- Chaos Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <h2 style="color: #800000; font-family: Tahoma;">Our Area Of Focus </h2>
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                <ul style="list-style-type: disc; padding-left: 20px; font-family: Tahoma; font-size: 20px;">
                                    <li>Bicycle Parking Layouts</li>
                                    <li>Bicycle Routes Master Planning</li>
                                    <li>Pedestrian Safety Analysis</li>
                                    <li>Cycling Routes Planning and Design</li>
                                    <li>Pedestrian-oriented Zoning</li>
                                    <li>Pedestrian Walkways Planning and Design</li>
                                    <li>Travel Demand Modelling & Management</li>
                                    <li>Transit Integration and Pedestrian Facilities Cost Estimation</li>
                                    <li>Active Transport Advocacy</li>
                                </ul>

                            </p>

                        </div>
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/activem1.jpg" alt="Image"
                                 style="width: 600px; height: 400px; object-fit: cover;" />
                        </div>

                    </div>

                </div>

                <!-- Konza Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/activem2.jpg" alt="Image"
                                 style="width: 600px; height: 400px; object-fit: cover;" />
                        </div>

                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                We help towns and cities to understand how a proposed new non-motorized system will impact existing transport infrastructure,
                                networks and services and deliver real benefits for the local population.<br />

                                Working closely with advanced transport engineering experts in CTC,
                                we translate the latest concepts into reality through deliverable projects.
                            </p>

                        </div>

                    </div>

                </div>
             
            </div>
            
        </div>
        <section>
            <div class="text-center"
                 style=" background-image:url('/images/traffic4.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;">
                <div style="background-color: #e0e0e0; opacity: 0.7; padding: 20px; width: 95%; height: 600px;">
                    <br />
                    <i class="fa-solid fa-quote-left fa-5x"></i>

                    <h4 style="color: black; font-family: Tahoma; max-width: 100%; font-size: 20px;">
                        <br />
                        <br />Urban mobility is a massive global challenge. The world needs people to use multiple forms of transport - a mix of biking, walking, and other low-energy forms of transportation.

                        <br />
                        <br />
                        Jens Martin Skibsted
                    </h4>
                </div>
            </div>
        </section>


