@{
    ViewData["Title"] = "Articles";
}

<div style="background-color: #FFFFFF;">
    <section>
        <section>
            <div class="text-center"
                 style="background-color: #800000;
                margin-bottom: 20px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;">

                <h4 style="color: white;
                   font-family: Tahoma;
                   max-width: 100%;
                   font-size: 50px;">
                    Articles

                </h4>
            </div>
        </section>
        <!-- Main -->
        <div class="container text-center" style=" background-color: #FFFFFF;" p-5">
            <div class="container p-3 w-100">
               

                <!-- Tango Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/articles1.jpg" alt="Image"
                                 style="width: 600px; height: 800px; object-fit: cover;" />
                        </div>

                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <h2 style="color: #800000; font-family: Tahoma;">Mobility Turn</h2>
                            <p style="color: #800000; font-family: Tahoma; font-size: 23px;">By Leshan Kelvin Sadira & Sam Rholex              25th Oct 2024</p>
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                The upsurge in the interest in different forms of mobility in the contemporary world draws close focus on the role of the built environment in championing this shift.<br />
                                <br />
                                Mobility turn, often described as a shift in thinking within the social sciences that views the world as fluid and always in motion, draws together all forms of movement and circulation and theorizes them holistically and relationally, rather than as separate, discrete forms of action associated with particular activities.<br />
                                <br />
                                This article seeks to understand how we can integrate transport studies with social sciences in a more holistic approach to ensure social inclusion, safety, convenience and sustainability in our transport systems.
                            </p>
                            <!-- View PDF Button -->
                            <a href="/pdfs/Mobility Turn.pdf" target="_blank"
                               class="btn mt-2"
                               style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                                View More
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Chaos Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <h2 style="color: #800000; font-family: Tahoma;">Dicing with Death</h2>
                            <p style="color: #800000; font-family: Tahoma; font-size: 23px;">By Sam Rholex.     18th Oct 2024</p>
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                Transportation is often the backbone of any State. Urban and rural transportation both play a crucial role in linking towns and places across regions. However, most professionals, especially in the built environment, have a tendency to prioritize urban areas at the expense of rural areas.<br />
                                <br />
                                This article seeks to find a deep understanding of how these rivers help in transporting citizens, the challenges that arise and the opportunities to explore these transit routes within Central Africa.<br />
                               
                            </p>
                            <!-- View PDF Button -->
                            <a href="/pdfs/Dicing With Death.pdf" target="_blank"
                               class="btn mt-2"
                               style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                                View More
                            </a>
                        </div>
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/articles2.jpg" alt="Image"
                                 style="width: 600px; height: 800px; object-fit: cover;" />
                        </div>

                    </div>

                </div>

                <!-- Konza Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-6 text-center">
                            <img src="/images/articles3.jpg" alt="Image"
                                 style="width: 800px; height: 500px; object-fit: cover;" />
                        </div>

                        <!-- Right column: Text -->
                        <div class="col-md-4 ms-auto text-start">
                            <h2 style="color: #800000; font-family: Tahoma;">Concrete Jungles</h2>
                            <p style="color: #800000; font-family: Tahoma; font-size: 23px;">A case study of Zambia</p>
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                In progress……………..
                            </p>
                            <!-- View PDF Button -->
                            <a href="/pdfs/transport-tango.pdf" target="_blank"
                               class="btn mt-2"
                               style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                                View More
                            </a>
                        </div>
                    </div>

                </div>
                <!-- Politics Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Right column: Text -->
                        <div class="col-md-5 ms-auto text-start">
                            <h2 style="color: #800000; font-family: Tahoma;">Give me Back my Public Transport</h2>
                            <p style="color: #800000; font-family: Tahoma; font-size: 23px;"> A case study of Lagos, Nigeria</p>
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                In progress…………………….
                                
                            </p>
                            <!-- View PDF Button -->
                            <a href="/pdfs/transport-tango.pdf" target="_blank"
                               class="btn mt-2"
                               style="background-color: #800000; color: white; font-family: Tahoma; border: none; font-size: 20px;">
                                View More
                            </a>
                        </div>

                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-5 text-center">
                            <img src="/images/articles4.jpg" alt="Image"
                                 style="width: 800px; height: 500px; object-fit: cover;" />
                        </div>
                    </div>

                </div>

            </div>
            <div class="container text-center" style=" background-color: #FFFFFF;" p-5">
                <div class="container">
                    <p>
                        <h2 style="color: #800000; font-family: Tahoma; font-size: 40px;">Have a Question?</h2>
                        <h5 style="color: black; font-family: Tahoma; font-size: 20px;">
                            Feel free to share your comments, questions, suggestions and critics via our contacts.<br />
                            <ul class="list-unstyled footer-icons" style="color: #800000; font-family: Tahoma;">

                                <li><i class="fas fa-phone-alt px-2"></i>Call: <a href="tel:+254-740-220-889" class="text-black">+254-740-220-889</a></li>
                                <li><i class="fas fa-envelope px-2"></i>Email: <a class="text-black"> info@citygridtrans.com </a></li>
                            </ul>
                        </h5>
                    </p>
                </div>
            </div>
        </div>



