@{
    ViewData["Title"] = "Public Transport";
}

<div style="background-color: #FFFFFF;">
    <section>
        <section>
            <div class="text-center"
                 style="background-color: #800000;
                margin-bottom: 20px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;">

                <h4 style="color: white;
                   font-family: Tahoma;
                   max-width: 100%;
                   font-size: 50px;">
                    Public Transport
                   
                </h4>
            </div>
        </section>

        <!-- Main -->
        <div class="container text-center" style=" background-color: #FFFFFF;" p-5">
            <div class="container p-3 w-100">
                

                <!-- Tango Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/pubtrans1.jpg" alt="Image"
                                 style="width: 500px; height: 500px; object-fit: cover;" />
                        </div>


                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <h2 style="color: #800000; font-family: Tahoma;">Overview </h2>
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                Our team of experts advocates for large numbers of people to use public transport for most of their daily journeys. 
                                We understand that this requires that they be able to make a range of different journeys to a wide variety of destinations
                                <br />
                                We conduct public surveys and interviews to understand the community’s travel needs and challenges, aware that efficient connections to employment, leisure and residential areas are key to any system’s adoption and ridership. 
                                This enables us to design a joined-up and coordinated network of bus services with convenient transfer arrangements – supported by excellent passenger information and ticketing systems.
                            </p>
                            

                        </div>
                    </div>
                </div>

                <!-- Chaos Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <h2 style="color: #800000; font-family: Tahoma;">Our Area Of Focus </h2>
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                <ul style="list-style-type: disc; padding-left: 20px; font-family: Tahoma; font-size: 20px;">
                                    <li>Transportation Master Plans</li>
                                    <li>Transit Oriented Development (TOD) Assessment</li>
                                    <li>Public Transit Route Planning</li>
                                    <li>Fare Strategy Review & Implementation</li>
                                    <li>Transportation Capacity Assessment</li>
                                    <li>Intersection Capacity Analysis</li>
                                    <li>Public Transportation Demand Management TDM</li>
                                    <li>Road Network Planning</li>
                                    <li>Block Transportation Planning</li>
                                    <li>Public Transport Parking Supply Requirements</li>
                                </ul>

                            </p>
                            
                        </div>
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/pubtrans2.jpg" alt="Image"
                                 style="width: 500px; height: 300px; object-fit: cover;" />
                        </div>

                    </div>

                </div>

                <!-- Konza Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/pubtrans3.jpg" alt="Image"
                                 style="width: 500px; height: 500px; object-fit: cover;" />
                        </div>

                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;font-weight: normal;">
                                CTC crew understands how networks work, and we help authorities design easy-to-understand, high-frequency networks of services. 
                                We understand the trade-offs between user-needs and economic benefits and we help transport systems operate an optimal number of high-frequency services

                            </p>
                            
                        </div>
                    </div>

                </div>

        
            </div>
           
        </div>
        <section>
            <div class="text-center"
                 style=" background-image:url('/images/pubtrans4.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;">
                <div style="background-color: #e0e0e0; opacity: 0.7; padding: 20px; width: 95%; height: 600px;">
                    <br />
                <i class="fa-solid fa-quote-left fa-5x"></i>

                    <h4 style="color: black; font-family: Tahoma; max-width: 100%; font-size: 20px;">
                    <br />
                    <br />Public transportation is like a magnifying glass that shows you civilization up close<br />
                    <br />
                    Chris Gethard.
                    </h4>
                </div>
            </div>
        </section>


