@{
    ViewData["Title"] = "Traffic Planning";
}

<div style="background-color: #FFFFFF;">
    <section>
        <section>
            <div class="text-center"
                 style="background-color: #800000;
                margin-bottom: 20px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;">

                <h4 style="color: white;
                   font-family: Tahoma;
                   max-width: 100%;
                   font-size: 50px;">
                    Traffic Planning and Survey

                </h4>
            </div>
        </section>
        <!-- Main -->
        <div class="container text-center" style=" background-color: #FFFFFF;" p-5">
            <div class="container p-3 w-100">
               

                <!-- Tango Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/traffic1.jpg" alt="Image"
                                 style="width: 600px; height: 400px; object-fit: cover;" />
                        </div>

                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <h2 style="color: #800000; font-family: Tahoma;">Overview </h2>
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                According to the World Health Organisation, road traffic can contribute anything from 17-70% of air pollution. . CTC maximizes intelligent mobility tools and tactics 
                                to tackle longstanding issues like traffic congestion, air quality and transport accessibility.
                            </p>
                            

                        </div>
                    </div>
                </div>

                <!-- Chaos Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <h2 style="color: #800000; font-family: Tahoma;">Our Area Of Focus </h2>
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;">
                                <ul style="list-style-type: disc; padding-left: 20px; font-family: Tahoma; font-size: 20px;">
                                    <li>Traffic & Transit Impact Assessments</li>
                                    <li>Transit Master Plans</li>
                                    <li>Intelligent Transport Systems</li>
                                    <li>Traffic Trip Generation and Distribution Pattern</li>
                                    <li>Ridership Growth & Planning</li>
                                    <li>Traffic Pollution Assessment</li>
                                    <li>Travel Demand Modelling & Management</li>
                                    <li>Park-n-Ride Assessments</li>
                                    <li>Access Management</li>
                                    <li>Site Access Operations and Traffic Signal Warrants</li>
                                    <li>Secondary Plan Study</li>
                                    <li>Environmental Assessment Study EA’s</li>
                                    <li>Transportation Forecast Modelling</li>
                                    <li>Site Access of Internal Circulation Study</li>
                                    <li>Existing External Roads & Transit Systems Study</li>
                                </ul>

                            </p>

                        </div>
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/traffic2.jpg" alt="Image"
                                 style="width: 700px; height: 500px; object-fit: cover;" />
                        </div>

                    </div>

                </div>

                <!-- Konza Main Content -->
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <!-- Left column: Title + Subtitle + Image -->
                        <div class="col-md-4 text-center">
                            <img src="/images/traffic3.jpg" alt="Image"
                                 style="width: 500px; height: 500px; object-fit: cover;" />
                        </div>

                        <!-- Right column: Text -->
                        <div class="col-md-6 ms-auto text-start">
                            <p style="color: black; font-family: 'Tahoma'; font-size: 20px;font-weight: normal;">
                                Today, with ever more complex urban communities to serve, sustainable mobility is central to any effective transport system.
                                At CTC we use this approach to look beyond individual transport modes; we aim to create diverse transportation modes to help curb the ever-increasing traffic congestion and meet greater social, 
                                economic and environmental goals. Our teams work with clients to bring innovative insights and outcomes to their networks, services, assets and passengers
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="text-center"
                 style=" background-image:url('/images/traffic4.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;">
                <div style="background-color: #e0e0e0; opacity: 0.7; padding: 20px; width: 95%; height: 600px;">
                    <br />
                    <i class="fa-solid fa-quote-left fa-5x"></i>

                    <h4 style="color: black; font-family: Tahoma; max-width: 100%; font-size: 20px;">
                        <br />
                        <br />We want transportation as reliable as running water.<br />
                        <br />
                        Travis Kalanick.
                    </h4>
                </div>
            </div>
        </section>


