@{
    ViewData["Title"] = "Our Partners";
}

<div style="background-color: #FFFFFF;">
    <section>
        <section>
            <div class="text-center"
                 style="background-color: #800000;
                margin-bottom: 20px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;">

                <h4 style="color: white;
                   font-family: Tahoma;
                   max-width: 100%;
                   font-size: 50px;">
                    Our Partners

                </h4>
            </div>
        </section>
        <!-- Main -->
        <div class="container text-center" style=" background-color: #FFFFFF;" p-5">
            <div class="container p-3 w-100">
               




                <section class="partners py-5">
                    <div class="container text-center">

                        <div class="row mt-4">
                            <!-- First row: 4 logos -->
                            <div class="col-md-3 col-6">
                                <div class="container text-center" style=" background-image:url('/images/partners1.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 50%; height: 100px;" p-5">
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="container text-center" style=" background-image:url('/images/partners2.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 50%; height: 100px;" p-5">
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="container text-center" style=" background-image:url('/images/partners3.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 50%; height: 100px;" p-5">
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="container text-center" style=" background-image:url('/images/partners4.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 50%; height: 100px;" p-5">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <!-- Second row: remaining logos -->
                            <div class="col-md-3 col-6">
                                <div class="container text-center" style=" background-image:url('/images/partners5.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 50%; height: 100px;" p-5">
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="container text-center" style=" background-image:url('/images/partners6.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 70%; height: 100px;" p-5">
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="container text-center" style=" background-image:url('/images/partners7.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 50%; height: 100px;" p-5">
                                </div>
                            </div>
                            <div class="col-md-3 col-6">
                                <div class="container text-center" style=" background-image:url('/images/partners8.jpg'); background-size: 100% 100%; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; width: 50%; height: 100px;" p-5">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <style>
                    .partners-title {
                        font-family: Tahoma, sans-serif;
                        font-size: 36px;
                        font-weight: bold;
                        color: black;
                        margin-bottom: 20px;
                    }

                    .partner-logo {
                        max-height: 100px; /* adjust logo height */
                        object-fit: contain;
                        padding: 10px;
                        transition: transform 0.3s ease-in-out;
                    }

                        .partner-logo:hover {
                            transform: scale(1.1);
                        }
                </style>




                <section class="testimonials py-5">
                    <div class="container text-center">
                        <h2 style="color: #800000; font-family: Tahoma; font-size: 50px;">Testimonials</h2>
                        <div class="row mt-4">

                            <!-- Testimonial 1 -->
                            <div class="col-md-4">
                                <div class="testimonial-box">
                                    <i class="fa fa-quote-left fa-2x"></i>
                                    <h4 class="testimonial-name" style="color: #000000; font-family: Tahoma; font-size: 23px;">Alex Munyu</h4>
                                    <p class="testimonial-text" style="color: #000000; font-family: Tahoma; font-size: 20px;">
                                        Working with CTC was a great experience. They offer exemplary consultancy services.
                                        <br />
                                        <br />
                                    </p>
                                </div>
                            </div>

                            <!-- Testimonial 2 -->
                            <div class="col-md-4">
                                <div class="testimonial-box">
                                    <i class="fa fa-quote-left fa-2x"></i>
                                    <h4 class="testimonial-name" class="testimonial-name" style="color: #000000; font-family: Tahoma; font-size: 23px;">Canton Mogaka</h4>
                                    <p class="testimonial-text" class="testimonial-text" style="color: #000000; font-family: Tahoma; font-size: 20px;">
                                        As a planning student, CTC helped me gain a wide knowledge on transport planning. Great Team!
                                        <br />
                                        <br />
                                    </p>
                                </div>
                            </div>

                            <!-- Testimonial 3 -->
                            <div class="col-md-4">
                                <div class="testimonial-box">
                                    <i class="fa fa-quote-left fa-2x"></i>
                                    <h4 class="testimonial-name" class="testimonial-name" style="color: #000000; font-family: Tahoma; font-size: 23px;">Ivy Khantel</h4>
                                    <p class="testimonial-text" class="testimonial-text" style="color: #000000; font-family: Tahoma; font-size: 20px;" >
                                        What I like about CTC is their will and passion about our African transport systems. Always a pleasure working with them.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <style>
                    .testimonial-title {
                        font-family: Tahoma, sans-serif;
                        font-size: 40px;
                        font-weight: bold;
                        color: black;
                    }

                    .testimonial-box {
                        border: 1px solid #ccc;
                        padding: 30px 20px;
                        margin: 15px 0;
                        background-color: #fff;
                        transition: all 0.3s ease-in-out;
                    }

                        .testimonial-box:hover {
                            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
                            transform: translateY(-5px);
                        }

                        .testimonial-box i {
                            color: #800000; /* Maroon */
                            margin-bottom: 15px;
                        }

                    .testimonial-name {
                        font-weight: bold;
                        font-size: 20px;
                        margin-bottom: 10px;
                        font-family: Tahoma, sans-serif;
                    }

                    .testimonial-text {
                        font-size: 16px;
                        color: #555;
                        font-family: 'Comic Sans MS', sans-serif;
                    }
                </style>



            </div>
          
        </div>

        <section>
            <div class="text-center"
                 style=" background-image:url('/images/abus4.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;">
                <div style="background-color: #e0e0e0; opacity: 0.7; padding: 20px; width: 95%; height: 400px;">
                    <br />


                    <h4 style="color: black; font-family: Tahoma; max-width: 100%; font-size: 23px;">
                        <br />
                        <br />African Transportation - “of the people, by the people, and for the people.”

                        <br />
                        <br />
                        Lets make our transport system work!.
                    </h4>
                </div>
            </div>
        </section>

