@{
   ViewData["Title"] = "Job Detail"; 
}

<section>
    <!-- Main -->
    <main class="detail-main container" >
        <!-- position name -->
        <div>
            <h2 style="color: #1d50a4">Back office</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
        </div>
        
        <!-- job desc -->
        <div>
          <h2>Job Description</h2>
            <p>
                Champion and coordinate business requirements reviews across functional teams and ensures that the business requirements are complete, precise, and testable.
Works with project team to define and create overall project test strategy/test plan, plan test schedules or strategies and Identifies test resources, estimates test effort in accordance with project scope or delivery dates and ensures that the test strategy is achieved.
Develop, document, and maintain manual and automated functional testcases, non-functional test cases, test scripts and other test artifacts like the test data, data validation, harness scripts and automated scripts.
Works collaboratively with the business units and project teams to execute and validate test cases based upon business requirements and ensures that the test cases are traceable to the requirements.
In collaboration with GEA and other critical stakeholders, tune the SQA processes, adopt tools and define re-usable templates in-line with the adoption and maturity of the SQA Framework.
Define test process including required test activities and deliverables, conduct Test Readiness Assessment, establish test beds, and ensure that test beds are available for all planned white box and black box testing activities.
Engages, champions, and collaborates with technical teams / personnel in non-functional testing including integration, regression, load, performance, security, and usability testing.
Prepare, share, and review test results periodically, report any defects, bugs, errors, configuration issues, and interoperability flaws and develop test acceptance reports for projects and software changes.
Works with business units to perform post deployment sanity and regression tests and post-implementation reviews within defined period to confirm that the deployed solution works as per the business requirements.
Participates in formulation and Implementation of Software process improvement policies and strategies for IT division.

            </p>
      
        </div>


        <!-- responsibility -->
        <div>

            <h2>Job Responsibility</h2>
            <p>Data entry using excel and microsoft access</p>

                <p>Monthly report</p>
                Local purchase order


        </div>

        <!-- requirement -->
        <div>
            <h2>Job Requirement</h2>
            <p>Bacher in software Engineering</p>
            <p>Kenyan Citizen</p>
            <p>Certificate of good conduct</p>
            <p>Experience of 3 years</p>

        </div>

        <!--apply button-->
        <button>
            <a asp-controller="vacancies" asp-action="apply" target="_blank" class="btn text-white ">Apply</a>
        </button>

    </main>
</section>
