@{
    ViewData["Title"] = "Tracking";
}


<div class="container my-4">
    <h4 class="font-weight-light small"> ACTIVE JOB APPLICATIONS | 4</h4>
    <div class="">
        <div class="">

            <p>
                You've successfully applied for the positions shown below and these are in <u>review</u>. We'll contact you if your qualifications match the job.
            </p>

            <hr />
            <div class="d-flex justify-content-between  align-items-center">

                <span class="font-bold"><i class="fa-solid fa-circle-info"></i> Job Detail</span>
                <span><i class="fa-solid fa-arrow-down"></i> Date Applied</span>
            </div>  <hr />

            <div class="container mt-5">
                <div class="d-flex flex-column p-3 bg-light mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="">
                            <h5 class="me-3">
                                <a href="/Application/Status" class="text-decoration-none">Software Developer</a>
                            </h5>
                            <h6 class="text-secondary small">4533453</h6>
                            <h6 class="text-secondary small">KPA7</h6>
                        </div>

                        <h6 class="text-end text-secondary">
                            12/04/2023
                        </h6>
                    </div>


                    <!-- Collapse link -->
                    <a class="status-link small text-dark text-right w-100" data-bs-toggle="collapse" data-bs-target="#applicationStatus" aria-expanded="false" aria-controls="applicationStatus">
                        REVIEW <i class="fa-solid fa-caret-down "></i>
                    </a>

                    <!-- Collapsible Content -->
                    <div class="collapse mt-3" id="applicationStatus">
                        <ul class="list-group">
                            <li class="list-group-item d-flex align-items-center">
                                <span class="inreview"></span><div class="vr"></div> IN-REVIEW 
                                
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="declined"></span> DECLINED
                               
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="accepted"></span> ACCEPTED
                                
                            </li>
                            
                        </ul>
                    </div>

                </div>
            </div>


            <div class="d-flex flex-column p-3 bg-light mb-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="">
                        <h5 class="me-3">ICT OFFICER II</h5>
                        <h6 class="text-secondary">3535354</h6>
                        <h6 class="text-secondary small">KPA7</h6>
                    </div>

                    <h6 class="text-end text-secondary">
                        12/04/2023
                    </h6>

                </div>

            </div>

            <div class="d-flex flex-column p-3 bg-light mb-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="">
                        <h5 class="me-3">ICT OFFICER II</h5>
                        <h6 class="text-secondary">3535354</h6>
                        <h6 class="text-secondary small">KPA7</h6>
                    </div>

                    <h6 class="text-end text-secondary">
                        12/04/2023
                    </h6>

                </div>

            </div>

            <div class="d-flex flex-column p-3 bg-light mb-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="">
                        <h5 class="me-3">ICT OFFICER II</h5>
                        <h6 class="text-secondary">3535354</h6>
                        <h6 class="text-secondary small">KPA7</h6>
                    </div>

                    <h6 class="text-end text-secondary">
                        12/04/2023
                    </h6>

                </div>

            </div>


        </div>
    </div>

</div>


